[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/dhruvee/javaproject/helloWorld/src/Task.java
Type=Link
URL=file:///home/dhruvee/javaproject/helloWorld/src/Task.java
Icon=text-x-java
